# Required for validator
BT_WALLET_COLD=your_cold_wallet_name
BT_WALLET_HOT=your_hotkey_name
SUBTENSOR_NETWORK=finney
SNAPSHOT_S3_ENDPOINT=s3.metanova-labs.ai
MINIO_ACCESS_KEY=your_minio_access_key
MINIO_SECRET_KEY=your_minio_secret_key
SUBMISSION_API_URL=https://submission-api.metanova-labs.ai
SUBMISSION_API_KEY=your_submission_read_api_key
# Optional overrides
# BT_WALLETS_DIR=home/your_user/.bittensor/wallets
