# Required for validator
BT_WALLET_COLD=your_cold_wallet_name
BT_WALLET_HOT=your_hotkey_name
SUBTENSOR_NETWORK=finney
GITHUB_TOKEN=your_github_pat
BACKEND_API_URL=http://localhost:8001/api
BACKEND_API_TOKEN=asdfasdfasdkfjl
# Optional overrides
# BT_WALLETS_DIR=home/your_user/.bittensor/wallets
