venv
.venv
.env
.miner_runs/
results/
data/miner_runs/
data/results/
*.log
__pycache__

.cache/
debug/
artifacts/
miner_runs_old/
scripts/
local/
combinatorial_db/molecules.sqlite
libs/nova_miner/combinatorial_db/molecules.sqlite
